.content {
    margin: 20px 2px;
}

@media screen and (min-width: 700px) {
  .content {
    width: 700px;
    margin: 20px auto;
  }
  .content.wide {
    width: auto;
    margin: 20px 4px;
  }
}

.question {
  margin: 20px 0;
}

.question-title {
  font-size: larger;
}

textarea {
  width: 98%;
  height: 5em;
}

@media screen and (min-width: 410px) {
  textarea {
    width: 400px;
  }
}

input[type=text] {
  width: 15em;
}

.options li {
  list-style-type: none;
  margin-top: 5px;
}

.error {
  color: #a40000;
}

.results {
  width: 100%;
  table-layout: fixed;
}

.results td, .results th{
  padding: 5px 8px;
  word-wrap: break-word;
}

.questionnaire-list li {
  margin: 10px auto;
}

.questionnaire-list .form {
}
